<!DOCTYPE html>
<html lang="ru">

<head>
    <title>WeatherMap.com</title>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <script src="https://api-maps.yandex.ru/v3/?apikey=b83a40a6-6cc1-4615-a830-c6b988c0dd8d
&lang=ru_RU"></script>
    <script type="module" src="./scripts/index.js"></script>
</head>

<body>
    <H1>Выберите место на карте</H1>


    <div id="app" style="width: 100%; height: 600px"></div>
    <p>
        <button id="resButton" style="width: 100%;height: 40px">Результат</button>
    </p>

    <img id="resImg" alt="Изображение"></img>
</body>

</html>