<!DOCTYPE html>
<html lang="ru">

<head>
    <title>WeatherMap.com</title>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <script src="https://api-maps.yandex.ru/v3/?apikey=YOUR_API_KEY&lang=ru_RU"></script>
    <script src="index.js"></script>
</head>

<body>
    <H1>Введите координаты</H1>
    <p>Координаты для теста <br /></p>
    <p>37.320983<br /></p>
    <p>55.476710<br /></p>
    <p>Широта: <br />
        <input id="latitude" />
    </p>
    <p>Долгота: <br />
        <input id="longitude" />
    </p>
    <p>
        <button id="resButton">Результат</button>
    </p>

    <div id="app" style="width: 600px; height: 400px"></div>

    <img id="resImg" alt="Изображение" </body>

    <script src="./../scripts/index.js"></script>

</html>